auth_enabled: false

ingester:
  chunk_idle_period: 3m
  max_chunk_age: 1h

schema_config:
  configs:
    - from: 2020-10-24
      store: filesystem
      object_store: filesystem
      schema:
        version: v12
        index:
          prefix: index_
          period: 24h

server:
  http_listen_port: 3100
  grpc_listen_port: 9096

storage_config:
  filesystem:
    directory: /loki/chunks

table_manager:
  retention_deletes_enabled: false
  retention_period: 0s